html body
{  
    height: 100%;
    background-color: #008b8b;
    font-family: Arial, Helvetica, sans-serif;
}
.indexImage
{
    height: 250px;
    width: 450px;
    object-fit: cover;
}
.pricingImage
{
    width: 400px;
    height: 200px;
    padding : 0;
    object-fit: cover;
    object-position: -30px -40px;
}
#indexArticle1
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}
#imgIndexArticle1
{
    float : right;
}
.productImage
{
    height: 200px;
    width: 450px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logoTechnoSport
{
    height: 150px;
}
h4
{
    margin-left: 10px;
    font-weight: bolder;
}
h1, h2
{
    letter-spacing: 5px;
}
li.solid 
{
    margin: 20px;
    background-color: #021104;
}
p.margin
{
    margin: 10px;
    font-weight: normal;
}
li{
    float: left;
    list-style-type: none;
    font-weight: bold;
    margin: 10px;
}
li a {
    display: block;
    padding: 10px;
    margin: 3px;
    background-color: #dddddd;
}
#articlesAndAside
{
    font-family: Arial, Helvetica, sans-serif;
}
#articles
{
    order: 1;
    float : left;
    width: 800px;
}
#pricingAside
{
    margin-top: 50px;
    margin-right: 20px;
    justify-self: right;
    display: grid;
    row-gap: 60px;
    width: 100%;
    margin-right: 0%;
    padding: 0%;
    grid-template-columns: 450px;
    grid-template-rows: 200px 200px 200px;
}
#tableAndAside
{
    order: 5;
    display: grid;
    grid-template-columns: auto 550px;
    align-items: flex-start;
    flex-direction: row;
}
#tableAndCopyright
{
    grid-column-start: 1;
}
#pricingAside
{
    grid-column-start: 2;
}
#indexBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #008b8b;
    display: flexbox;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#pricingBody
{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    margin: 0;
    padding: 0;
    width: 100%;
    height: min-content;
}
#mainHeader {
    order: 1;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    order: 0;
    height: 200px;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url(/images/robotKneeling.jpg);
    background-position: 0px -250px;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    order: 2;
    display: flex;
    flex-direction: column;
    background-color: none;
    margin-top: 0;
    width: 100%;
}
#navbarProduct
{
    grid-column: span 3;
    grid-row-start: 3;
    height: 64.4px;
}
#navbarPricing
{
    height: 64.4px;
    order : 2;
}
#indexVideoFrame {
    order: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: black;
}
#articlesAndAside
{
    order: 4;
    display: flex;
    width: 100%;
}
li.margin
{
    margin: 20px 0;
}
.hamli{
    float: none;
    list-style-type: none;
    font-weight: bold;
    width: 400px;
    margin: 10px;
    margin: 20px;
    background-color: black;
}
#fiveBestProducts
{
    order: 2;
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    width: min-content;
    margin-left: 0;
}
#fiveBestProductsList
{
    width: min-content;
    display: flex;
    flex-direction: column;
}
.center p 
{
    display: flex;
    line-height: normal;
    vertical-align: middle;
}
#cookiesAndFooter
{
    order: 5;
    display: flex;
    width: 100%;
    flex-direction: row;
    bottom: 0;
}
#endFooter
{
    order: 1;
    width: 100%;
    height: 50px;
    background-color: black;
    justify-items: center;
    color: white;
    order: 8;
    bottom: 0;
}
#contactEndFooter
{
    margin-top: auto;
    order: 6;
    width: 100%;
    height: 50px;
    background-color: black;
    justify-items: center;
    color: white;
    bottom: 0;
}
#cookies
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 400px;
    background-color: rgba(255, 170, 0);
    opacity: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

#productBody
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 174 200 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    margin: 0;
    padding: 0;
}

#productHeader
{
    grid-row-start: 2;
    grid-column: span 3;

    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    order: 0;
    height: 200px;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url(/images/robotKneeling.jpg);
    background-color: #020903;
    background-position: 0px -250px;
    background-repeat: no-repeat;
    background-size: cover;
}
#article1
{
    font-size: 16px;
    grid-row: span 6;
    grid-column: 2 / 3;
    width: 100%;
    margin: 0;
    padding: 0;
}
#article2
{
    font-size: 13px;
    grid-row-start: 4;
    grid-row: 4 / 6;
    grid-column: 1 / 2;
    width: 100%;
    margin: 0;
    padding: 0;
}
#article3
{
    grid-row-start: auto;
    grid-row: span 3;
    grid-column: 3 / 4;
    width: 100%;
    margin: 0;
    padding: 0;
}
#article4
{
    grid-row-start: 4;
    grid-row: span 3;
    grid-column: 3 / 4;
    width: 100%;
    margin: 0;
    padding: 0;
}
#article5
{
    grid-row: 6 / 11;
    grid-column: 1 / 2;
    width: 100%;
    margin: 0;
    padding: 0;
}
#article6
{
    grid-row: 10 / 11;
    grid-column: 2 / 4;
    width: 100%;
    margin: 0;
    padding: 0;
}
#aside1
{
    grid-row: 11 / 12;
    grid-column: 1 / 2;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white ;
    background-color: black;
}
#aside2
{
    grid-row: 11 / 12;
    grid-column: 2 / 3;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white ;
    background-color: black;
}
#aside3
{
    grid-row: 11 / 12;
    grid-column: 3 / 4;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white ;
    background-color: black;
}
#productCookies
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 400px;
    background-color: rgba(255, 170, 0);
    opacity: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
}
#movieAndArticles
{
    display: flex;
    flex-direction: row;
}
#productEndFooter
{
    grid-row: 12 / 13;
    grid-column: 1 / 4;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
a:hover 
{
    color: #ffbf00;
}
a:active 
{
    color: #ff4400;
}
#pricingHeader
{
    height: 200px;
    width: 100%;
    order : 1;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url(/images/robotKneeling.jpg!d);
    background-position: 0px -250px;
    background-repeat: no-repeat;
    background-size: cover;
}
#pricingInnovationArticle
{
    order : 4;
    background-color: black;
    color: #fff;
    line-height: normal;
    vertical-align: middle;
    align-content: center;
    margin-bottom: 10px;
}
#pricingInnovation
{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    word-spacing: 5px;
    text-indent: 10px;
}
table
{
    border-color: #041e1e;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    width: auto;
    margin: 0%;
    padding: 0%;
}
th 
{
    border-color: #043232;
    border-style: solid;
    border-width: 4px;
    border-collapse: collapse;
    border-collapse: collapse;
    font-size: 21px;
    padding: 5px;
}
td
{
    border-color: #041e1e;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    border-collapse: collapse;
    font-size: 14px;
    padding: 5px;
}

#pricingTable
{
    order : 4;
    color: #fff;
    text-align: center;
    border-color: #041e1e;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#copyrightInfo
{
    order : 5;
    margin-left: 200px;
}
#pricingEndFooter
{
    order : 6;
    background-color: black;
    color: white;
}
#pricingCookies
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 400px;
    background-color: rgba(255, 170, 0);
    opacity: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
}
#sendButton
{
    font-weight: bold;
    width: 100px;
    background-color: orange;
}
#contactBody
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
}
#contactForm
{
    order: 5;
    margin-left: 2%;
}
#cForm
{
    width: 50%;
    height: min-content;
    display: flex;
    flex-direction: column;
}
#name
{
    width: 400px;
    margin-right: 100%;
}
#email
{
    width: 400px;
    margin-right: 100%;
}
#message
{
    width: 400px;
    margin-right: 100%;
    margin-bottom: 20px;
}
#articles
    {
        order: 0;
    }
    #indexAside
    {
        order: 1;
    }
/* MOBILE */
@media all and (max-width: 480px)
{
    .indexImage
    {
        height: 250px;
        width: 400px;
        object-fit: cover;
    }
    #indexVideo
    {
        visibility: hidden;
        display: none;
    }
    #indexVideoFrame
    {
        visibility: hidden;
        display: none;
    }
    #logoTechnoSport
    {
        visibility: hidden;
        display: none;
    }
    #indexLogo
    {
        visibility: hidden;
        display: none;
    }
    li{
        float: none;
        list-style-type: none;
        font-weight: bold;
        margin: 10px;
        width: 90px;
    }
    li a {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 3px;
        background-color: #dddddd;
        width: 90px;
    }
    #navbar
    {
        position: fixed;
        top: 0;
        right: 0;
        width: 90px;
    }
    #mainHeader {
        width: 1fr;
        order: 0;
        height: 200px;
        color: white;
        background-image: url(/images/robotKneeling.jpg);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h2
    {
        font-size: small;
    }
    #articlesAndAside
    {
        order: 4;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #articles
    {
        order: 2;
        width: 400px;
    }
    #indexAside
    {
        order: 1;
    }
    .hamli
    {
        float: none;
        list-style-type: none;
        font-weight: bold;
        width: 400px;
        background-color: black;
    }
    #fiveBestProductsList
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #cookies
    {
        width: 200px;
        height: 120px;
        font-size: small;
        z-index: 9999;
    }
    #cookieStatement
    {
        margin-top: 0;
        text-align: center;
    }
    #productBody
    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: darkcyan;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0 200px 0.7fr 0.7fr 0.7fr 0.7fr;
    }
    #article6
    {
        visibility: hidden;
        display: none;
    }
    #article5
    {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        font-size: small;
    }
    #article4
    {
        visibility: hidden;
        display: none;
    }
    #article3
    {
        grid-row: 4 / 5;
        grid-column: 1 / 4;
        font-size: small;
    }
    #article2
    {
        grid-row: 5 / 6;
        grid-column: 1 / 4;
        font-size: small;
    }
    #article1
    {
        grid-row: 6 / 7;
        grid-column: 1 / 4;
        font-size: small;
    }
    .productImage
    {
        width: 100px;
    }
    .pricingImage
    {
        width: 100%;
        height: 150px;
        padding : 0;
        object-fit: cover;
        object-position: -30px 0;
    }
    #productHeader
    {

    width: 100%;
    order: 0;
    height: 200px;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url(/images/robotKneeling.jpg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    }
    #navbarProduct
    {
        position: fixed;
        top: 0;
        right: 0;
    }
    #tableAndAside
    {
        display: grid;
        grid-template-columns: min-content 0;
        grid-template-rows: auto auto;
        align-items: flex-start;
        flex-direction: row;
    }
    table
    {
        border-collapse: collapse;
        width: auto;
        margin: 0%;
        padding: 0%;
    }

    th 
    {
        border-collapse: collapse;
        font-size: medium;
        padding: 2px;
    }
    h1
    {
        margin-top: 0;
    }
    td
    {
        border-collapse: collapse;
        font-size: medium;
        padding: 2px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    #pricingTable
    {
        order : 4;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        border-color: #fff;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 3vw;
    }
    #pricingAside
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 0px;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        display: grid;
        row-gap: 40px;
        width: min-content;
        padding: 0;
        grid-template-columns: 300px;
        grid-template-rows: 150px 150px 150px;
    }
    #navbarContact
    {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: none;
        margin-top: 0;
    }
    #contactForm
    {
        order: 5;
        margin-left: 2%;
    }
    #cForm
    {
        width: 98%;
        height: min-content;
        display: flex;
        flex-direction: column;
    }
    #name
    {
        width: 80%;
        margin-right: 100%;
        margin-bottom: 30px;
    }
    #email
    {
        width: 80%;
        margin-right: 100%;
        margin-bottom: 30px;
    }
    #message
    {
        width: 80%;
        margin-right: 100%;
        margin-bottom: 20px;
    }
}
/* TABLET */
@media only screen and (max-width: 1279px) 
{
    #navbar
    {
        background-color: none;
        margin-top: 0;
        width: 100%;
    }
    #indexBody {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #008b8b;
        display: flexbox;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #indexVideoFrame
    {
        order: 1;
    }
    .indexImage
    {
        height: 250px;
        width: 400px;
        object-fit: cover;
    }
    #indexVideoFrame
    {
        order: 2;
    }
    #indexVideo
    {
        height: 250px;
        width: 400px;
    }
    #articlesAndAside
    {
        order: 4;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #articles
    {
        order: 2;
        width: 70%;
    }
    #indexAside
    {
        order: 1;
        width: 70%;
    }
    #fiveBestProducts
    {
        width: 100%;
    }
    #fiveBestProductsList
    {
        width: 100%;
    }
    .hamli
    {
        width: 100%;
    }
    #productBody
    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: darkcyan;
        display: grid;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 174 200 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    }
    #productHeader
    {
        background-color: black;
    }
    .productImage
    {
        height: 200px;
        width: 100%;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #tableAndAside
    {
        display: grid;
        grid-template-columns: 100% 0;
        grid-template-rows: auto auto;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;

    }
    #pricingAside
    {

        width: 100%;
        margin-left: 30%;
        grid-row-start: 2;
        grid-column-start: 1;
        justify-self: right;
        display: grid;
        row-gap: 60px;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px;
    }
    #pricingAside1
    {
        display: none;
    }
    #tableAndCopyright
    {
        grid-column-start: 1;
        width: 100%;
    }
    #pricingAside1Img2
    {
        width: 100%;
    }
    #pricingAside1Img3
    {
        width: 100%;
    }
    #contactBody
    {
        width: 100%;
    }
    #pricingTable
    {
        width: 80%;
        order : 4;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        border-color: #fff;
        font-size: 3vw;
        margin-left: 0;
    }
}